#App {
  background-color: #8eccc7;
  background-image: url('./assets/home_background_super_wide.jpg');
  background-position-x: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Minimum aspect ratio */
@media (min-aspect-ratio: 2112/1080) {
  #App {
    background-size: 100% auto;
  }
}

#Main-Logo {
  margin: 20px 0px;
  width: clamp(250px, 33%, 400px);
}

#App-Content {
  width: 100%;
  display: flex;
}

#Social-Container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#Main-Preview {
  flex-basis: 50%;
  padding-left: 10%;
}

#Preview-Image {
  width: 320px;
  border: solid 4px white;
}

.app-btn {
  display: flex;
  align-items: center;
  width: 280px;
  height: 28px;
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
}

.social-btn {
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  background-color: rgb(247, 184, 201);
}

.social-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.social-icon {
  width: 28px;
  height: 28px;
}

.social-text {
  flex-grow: 1;
}

#Social-Counter {
  background-color: rgb(145, 206, 219);
  justify-content: center;
}

/* Minimum aspect ratio */
@media (max-width: 800px) {
  #App-Content {
    flex-direction: column-reverse;
  }

  #Preview-Image {
    width: 240px;
  }

  #Main-Preview {
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .app-btn {
    width: 240px;
    height: 24px;
    font-size: 14px;
    margin-top: 4px;
  }
}

/* Minimum aspect ratio */
@media (max-width: 400px) {
  #App {
    background-size: cover;
    background-image: url('./assets/home_background_mobile.jpg');
  }

  .social-btn:hover {
    transform: none;
  }
}
